<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.cdt.launch.applicationLaunchType">
<booleanAttribute key="nvvp.apiTraceProfiling" value="true"/>
<booleanAttribute key="nvvp.appReplay" value="false"/>
<booleanAttribute key="nvvp.concurrentProfiling" value="true"/>
<booleanAttribute key="nvvp.environmentProfiling" value="false"/>
<booleanAttribute key="nvvp.startProfiling" value="true"/>
<intAttribute key="nvvp.timeout" value="0"/>
<booleanAttribute key="nvvp.uvmProfiling" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.PROGRAM_ARGUMENTS" value=""/>
<stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="/home/tchen44/code/Tianpei/FCSD_GPU_48_4/Debug/FCSD_GPU_48_4"/>
<stringAttribute key="org.eclipse.cdt.launch.WORKING_DIRECTORY" value="/home/tchen44/code/Tianpei/FCSD_GPU_48_4"/>
<booleanAttribute key="org.eclipse.debug.core.appendEnvironmentVariables" value="false"/>
<mapAttribute key="org.eclipse.debug.core.environmentVariables"/>
</launchConfiguration>
